<div class="login-social-box">
    <p class="separator-text line">{{ label }}</p>
    <ul>
        <li>
            <a class="icon has-text-info is-large" href="#">
                <i class="fa fa-github fa-3x"></i>
            </a>
        </li>
        <li>
            <a class="icon has-text-info is-large" href="#">
                <i class="fa fa-twitter fa-3x"></i>
            </a>
        </li>
    </ul>
    <p class="separator-text line">{% trans %}OR{% endtrans %}</p>
</div>