{% extends 'base.html.twig' %}

{% block body %}

    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <h1 class="title">
                            {% trans %}Submit form{% endtrans %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="content">
                        <div class="notification is-warning">
                            <ul>
                                <li>
                                    error message
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}