{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-head">
            {% include 'includes/navbar.html.twig' %}
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-10 is-offset-1">
                        <h1 class="title">
                            {% trans %}Submit a new resource{% endtrans %}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="content">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}