{% extends 'base.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}
    <section class="hero is-primary is-medium">
        <div class="hero-head">
            {% include 'includes/navbar.html.twig' %}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="slice">
                    <svg viewbox="0 0 716 860" style="enable-background:new 0 0 716 860;" preserveaspectratio="xMaxYMin slice">
                        <style type="text/css">
                            .st0 {
                                fill: url(#XMLID_16_);
                            }
                        </style>
                        <lineargradient id="XMLID_16_" gradientunits="userSpaceOnUse" x1="357.472" y1="-1.604894e-08" x2="357.472" y2="460">
                            <stop offset="0" style="stop-color:#FFFFFF"></stop>
                            <stop offset="1" style="stop-color:#CCCCCC"></stop>
                        </lineargradient>
                        <polygon id="XMLID_15_" points="0,0 714.9,0 0,860 " class="st0"></polygon>
                    </svg>
                </div>
                <div id="primary-search-box" class="home">
                    <div class="input-zone">
                        <div id="primary-search-box-tags" class="tags"></div>
                        <input id="home-search-box-input" type="search" value="" placeholder="|" autofocus style="background-image:url('{{ asset_static_url }}/assets/images/search/icon-search-white.svg');"/>
                    </div>
                    <script>
                      if (!("autofocus" in document.createElement("input"))) {
                        document.getElementById("home-search-box-input").focus();
                      }
                    </script>
                    <div class="results">
                        <div class="results-content"></div>
                    </div>
                    <h2 class="subtitle">Find all tech resources, search and filter by language, type and more.</h2>
                    <div class="search-example"> (need a&nbsp;<a id="search-random-example">random example</a>&nbsp;?)
                    </div>
                    <div class="columns">
                        <div class="column is-6 is-offset-3">
                            <div id="search-box-tags" class="content">
                                <a href="#" data-label="nodejs" data-facet="languages" class="static-tag-label tags has-addons"><span class="tag is-white">nodejs</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="symfony" data-facet="tags" class="static-tag-label tags has-addons"><span class="tag is-white">symfony</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="php" data-facet="languages" class="static-tag-label tags has-addons"><span class="tag is-white">php</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="expressjs" data-facet="tags" class="static-tag-label tags has-addons"><span class="tag is-white">expressjs</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="doctrine" data-facet="tags" class="static-tag-label tags has-addons"><span class="tag is-white">doctrine</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="authentication" data-facet="tags" class="static-tag-label tags has-addons"><span class="tag is-white">authentication</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="gist" data-facet="types" class="static-tag-label tags has-addons"><span class="tag is-white">gist</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="medium" data-facet="sources" class="static-tag-label tags has-addons"><span class="tag is-white">medium</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a><a href="#" data-label="ES6" data-facet="languages" class="static-tag-label tags has-addons"><span class="tag is-white">ES6</span><span class="tag is-light"><span class="has-text-primary"><i class="fa fa-plus-circle is-small"></i></span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="content">
                        <h2 class="line">Highlights</h2>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content"></div>
                                    </div>
                                    <div class="content">
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                {% for site in sites %}
                                                    <a class="level-site">
                                                        {{ site.name }}
                                                        <span class="icon is-small"><i class="fa fa-retweet"></i></span></a><a class="level-site"><span class="icon is-small"><i class="fa fa-heart"></i></span></a>
                                                {% endfor %}
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="content">
                        <h2 class="line">Features</h2>
                        <nav class="columns">
                            <div class="column has-text-centered features">
                                <span class="icon is-large"><i class="fa fa-2x fa-info"></i></span>
                                <p class="title is-4"><strong>Free</strong></p>
                                <p class="subtitle">This website completely free. All the honor goes to exceptional
                                    people who take the time to realize these resources</p>
                            </div>
                            <div class="column has-text-centered features">
                                <span class="icon is-large"><i class="fa fa-2x fa-star-half-o"></i></span>
                                <p class="title is-4"><strong>Participate</strong></p>
                                <p class="subtitle"><strong>You</strong> participate by submiting resources and voting
                                    for the best (soon)</p>
                            </div>
                            <div class="column has-text-centered features">
                                <span class="icon is-large"><i class="fa fa-2x fa-envelope"></i></span>
                                <p class="title is-4"><strong>Get Notified</strong></p>
                                <p class="subtitle"> Select your criteria, choose the frequency and receive the latest
                                    resources directly in your inbox (soon)</p>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="newsletter" class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-2-desktop is-offset-1 is-left">
                        <p class="title"><strong>Newsletter</strong></p>
                        <p class="subtitle">Get notified</p>
                    </div>
                    <div class="column is-8-desktop">
                        <form action="#" target="_blank" novalidate="novalidate" class="validate">
                            <div class="field is-grouped">
                                <div class="control has-icons-left is-expanded">
                                    <input type="email" value="" name="EMAIL" placeholder="email address" required="" aria-required="true" class="input is-flat required email"><span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                                </div>
                                <div class="control">
                                    <input type="submit" value="Subscribe" name="subscribe" class="button is-white is-outlined">
                                </div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="email" name="b_b43b93fe633f0560b2a72a69c_52585e8803" tabindex="-1" value="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}