{% include 'includes/header.html.twig' %}

{% block navbar %}
    <div class="section hero is-primary">
        <div class="hero-head">
            {% include 'includes/navbar.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}

{% include 'includes/footer.html.twig' %}
